:root{
    --light: #f1f2f6;
    --dark: #2d3436;
}

body{
    margin: 0;
    padding: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Merriweather', serif;
    font-size: 15px;
}


#brand-logo{
    width: 50px;
    border: 2px solid var(--light);
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}
